/* CSS Document for Screens */

html, body {
    font-family: 'Overlock', cursive;
    color: #555;
    margin: 0;
    overflow-x: hidden; 
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

#page {
    max-width: 1280px;
    margin: 0;
    position: relative;
}

.wow {
    visibility: visible !important;
 }

 .invisible {
	transition: opacity 0.5s ease;
	opacity: 0.0;
}

.visible {
	transition: opacity 0.5s ease;
	opacity: 1.0;
}

.fa-arrow-down {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    border-radius: 40px;
    cursor:pointer;
    z-index: 1000;
    background-color: rgba(15, 117, 188, 0.8);
    color: #FFF;
    text-align: center;
  }

  .pushdown,
  .push {
    animation: fade-up 2s 1s forwards ease-out;
  }
  
  .push {
    animation-name: fade-up;
    animation-delay: 3s;
  }

/* Text */

h1 {
    font-family: 'Overlock', cursive;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.1em;
    font-family: 'Overlock', cursive;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

h4 {
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

p {
    font-size: 1.4em;
    margin: 0 0 1em 0;
    font-family: 'Overlock', cursive;
}

a {
    color: #000;
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    color: #0F75BC;
    text-decoration: none;
} 

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
  }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  
  .cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(15, 117, 188, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  .no-touch .cd-top:hover {
    background-color: #0F75BC;
    opacity: 1;
  }
  

/* Header */

header {
    height: 650px;
    position: relative;
    background: linear-gradient(
        rgba(15, 117, 188, 0.65), 
        rgba(15, 117, 188, 0.65)
      ), url(../images/background.jpg);
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header div.hero {
    position: absolute;
    width: 100%;
    top: 130px;
}

header div.hero h1 {
    margin: 0 0 30px 0;
    color: #FFF;
    text-align: center;
    font-size: 4.5em;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

header div.hero h3 {
    line-height: 1em;
    margin: 0 0 20px 0;
    color: #FFF ;
    padding: 10px 0 10px 0;
    text-align: center;
    font-family: 'Overlock', cursive;
}

#short {
    color: #e1e1e1;
    width: 30%;
    align-self: center;
}

.fadeInUp {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
    }

    @keyframes fadeInUp {
        from {
            transform: translate3d(0,40px,0)
        }
    
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }
    
    @-webkit-keyframes fadeInUp {
        from {
            transform: translate3d(0,40px,0)
        }
    
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }
    
    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: both
    }
    
    .animatedFadeInUp {
        opacity: 0
    }
    
    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
    

/* Section - All */


section::after {
    content: '';
    display: block;
    clear: both;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Section - Parts */

section.parts-1 {
    margin: 0;
    padding: 60px;
    text-align: center;
    background-color: #FFF;
}

section.parts-1 h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.parts-1 p {
    font-family: 'Overlock', cursive;
    padding: 0 60px 0 60px;
}

section.parts-2 {
    margin: 0;
    padding: 30px;
}

section.parts-2 h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    text-align: center;
}

section.parts-2.grid {
	position: relative;
	clear: both;
    margin: 0;
    padding: 0;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
    height: 400px;
	background:  linear-gradient(
        rgba(15, 117, 188, 0.65), 
        rgba(15, 117, 188, 0.65)
      );
	text-align: center;
    cursor: pointer;
    width: 50%;
}

.grid figure img {
	position: relative;
	display: block;
	height: 400px;
    opacity: 0.8;
    width: 100%;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    color: #000;
}

.grid figure h2,
.grid figure p {
    margin: 0;
    font-family: 'Overlock', cursive;
}

.grid figure p {
	letter-spacing: 1px;
    font-size: 68.5%;
    font-family: 'Overlock', cursive;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
    background: #FFF;
    width: 33.33%;
}

figure.effect-julia img {
    height: 400px;
    width: 100%;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px;
}

figure.effect-julia figcaption {
    text-align: left;
}

figure.effect-julia h2 {
    position: relative;
    background-color: #EAEAEA;
    font-family: 'Overlock', cursive;
    text-align: center;
}

figure.effect-julia p {
	display: inline-block;
	margin: 10px 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Overlock', cursive;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover p:nth-of-type(4) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover p:nth-of-type(5) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover p:nth-of-type(6) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
    opacity: 0.65;
	-webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    text-align: center;
}

/* Section - Containers */

.photo-grid {
    margin: 0;
    padding: 30px;
    text-align: center;
    width: 50%;
    float: left;
}

.photo-grid .grid-item {
    display: block;
    width: 500px;
    margin: 30px;
    height: 100%;
}

.photo-grid img {
	display: block;
	height: 350px;
	max-width: 100%;
}

.photo-grid figure {
    height: 350px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
    height: 100%;
    width: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 3em;
	position: relative;
	vertical-align: middle;
}


.photo-grid .grid-item:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: 350px;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
	max-width: 100%;
}

.photo-grid .grid-item:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.photo-grid figcaption a {
	display: table-cell;
	font-size: 3em;
    position: relative;
    text-decoration: none;
    width: 200px;
    color: #FFF;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	vertical-align: middle;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

section.container1 .photo-grid h2 {
    color: #000;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.container1 .photo-grid h3 {
    color: #0F75BC;
    margin-bottom: 20px;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.container2 .photo-grid h2 {
    color: #000;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.container2 .photo-grid h3 {
    color: #0F75BC;
    margin-bottom: 20px;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

/* Section - For-Startups */

section.for-startups {
    background-color: #FFF;
    background-size: cover; 
    margin: 0;
    padding: 60px;
    width: 100%;
    text-align: center;
    position: relative;
}

section.for-startups aside {
    width: 50%;
    float: left;
    padding: 20px;
    margin-bottom: 30px;
}

section.for-startups aside h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.for-startups aside h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}


section.for-startups a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

section.for-startups a:hover {
    background-color: #FFF;
    color: #0F75BC;
    border: 1px solid #0F75BC;
}

/* Section - Main */

section.main {
    margin: 0;
    padding: 30px;
    position: relative;
}

section.main aside {
    width: 33.3%;
    float: left;
    text-align: center;
}

section.main .content {
    margin: 0;
    background: no-repeat center top;
    background-size: cover;
    padding: 0;
    height: 500px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

section.main aside .content.solutions {
    background: linear-gradient(
        rgba(15, 117, 188, 0.65), 
        rgba(15, 117, 188, 0.65)
      ), url(../images/solutions.jpg);
      height: 500px;
      display: inline-block;
      padding: 20px;
      background-size: 100% 100%;
}

section.main aside .content.programs {
    background: linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.65)
      ), url(../images/programs.jpg);
      height: 500px;
      display: inline-block;
      padding: 20px;
      background-size: 100% 100%;
}

section.main aside .content.ecosystem {
    background: linear-gradient(
        rgba(15, 117, 188, 0.65), 
        rgba(15, 117, 188, 0.65)
      ), url(../images/ecosystem.jpg);
      height: 500px;
      display: inline-block;
      padding: 20px;
      background-size: 100% 100%;
}

section.main aside h3 a {
    color: #FFF;
    text-decoration: none;
    float: top;
}

section.main aside p {
    color: #FFF;
    padding-top: 30%;
    padding-bottom: 20%;
}

section.main aside a.main-button {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: transparent;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid #FFF;
}

section.main aside a.main-button:hover {
    background-color: #FFF;
    color: #0F75BC;
    border: 1px solid #0F75BC;
}

/* Section - For-Partners */

section.for-partners {
    background-color: #FFF;
    background-size: cover; 
    margin: 30px 0 30px 0;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: relative;
}

section.for-partners h2 {
    color: #BF1E2E;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.for-partners p {
    padding-bottom: 20px;
    font-family: 'Overlock', cursive;
}

section.for-partners a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.for-partners a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - Portfolio */

section.portfolio {
    margin: 0;
    padding: 40px;
    text-align: center;
    background-color: #EAEAEA;
    position: relative;
}

section.portfolio h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
}

table td, table th {
    border-collapse: collapse;
    padding: 5px;
}

table tr td {
    border-top: 0; 
    padding: 15px;
    width: 15%;
}

table tr td a {
    color: #000;
    font-size: 1.4em;
}

table tr td a:hover {
    color: #000;
    text-decoration: none;    
    font-weight: 700;
}

table tr td:hover {
    color: #0F75BC;
    font-weight: 700;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
    border-top: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
    border-top: 0;
}

/* Section - Join Us */

section.join-us {
    margin: 0;
    padding: 60px 30px 60px 30px;
    text-align: center;
    background-color: #FFF;
    height: 100%;
    background-size: cover; 
}

section.join-us h2 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.join-us p {
    color: #000;
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
}

section.join-us a {
    color: #FFF;
    font-family: 'Overlock', cursive;
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border: 2px solid #0F75BC;
    border-radius: 30px;
    font-weight: 700;
    float: left;
    width: 33.33%;
}

section.join-us a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - Where to find */

section.where-to-find {
    margin: 0;
    padding: 30px;
    background-color: #FFF;
    position: relative;
}

section.where-to-find h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.where-to-find aside p {
    color: #0F75BC;
    font-family: 'Overlock', cursive;
}

section.where-to-find aside #map-section {
    width: 50%;
    float: left;
    margin: 30px 0 30px 30px;
    background-color: #BF1E2E;
}

section.where-to-find aside #connect{
    width: 40%;
    float: left;
    text-align: center;
    padding: 0 30px 0 30px;
    margin: 0;
}

section.where-to-find aside #connect h3 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.where-to-find aside div#connect p strong {
    color: #000;
}

section.where-to-find aside div#connect p a i {
    color: #0F75BC !important;
    margin: 10px;
}
    
#map {
    width: 100%;
    height: 350px;
  }


/* Navigation */

nav {
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 0 10px 80px;
    width: 100%;
    margin: 0;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav a.logo {
    position: absolute;
    display: block;
    width: 250px;
    height: 60px;
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: contain;
    top: 20px;
    left: 20px; 
}

nav a.logo span {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li a {
    display: inline-block;
    color: #939598;
    padding: 10px 20px;
    text-decoration: none;
    width: 200px;
    position: relative;
    font-weight: 700; 
    text-transform: uppercase;
    font-family: 'Overlock', cursive;
}

nav ul li a:visited {
    color: #939598;
}

nav ul li a:hover {
    color: #0F75BC;
    text-decoration: none;
}
nav ul ul {
    position: absolute;
    top: 100%;
    background-color: #2b0306;
    display: none;
}

nav ul ul li {
    position: relative;
}

nav ul ul ul {
    left: 100%;
    top: 0px;
}


/* top-level */

nav > ul {
    padding-left: 200px;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    width: auto; 
    padding: 10px 20px 15px 20px;
}

nav a[aria-haspopup="true"]::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 16px;
    right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
}

nav > ul > li > a[aria-haspopup="true"]::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    left: 20px;
    right: auto;
    bottom: 6px;
    top: auto; 
}

/* Footer */

footer {
    padding: 2em;
    background: #262626;
    color: #EFEFEF;
    text-align: center;
    width: 100%;
    position: relative;
}

footer p, footer p:visited {
    color: #EFEFEF;
    text-align: center;
    font-family: 'Overlock', cursive;
}

footer p a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
}

footer p a:hover {
    text-decoration: none;
    color: #0F75BC;
}

footer img {
    margin-bottom: 10px;
}

/* Section - Disclaimers */

section.disc {
    margin: 0 120px 0 120px;
    padding: 60px;
}

section.disc h1 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    margin-top: 70px;
    text-align: center;
}

section.disc p {
    padding-bottom: 10px;
    font-family: 'Overlock', cursive;
    text-align: justify;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

.wrapper {
    width:100%;
    height:100vh;
    overflow: hidden;
  }

  .wrapper video {
    /*object-fit: contain;*/
/*       object-fit: fill; */
    object-fit: cover;
    width:100%;
    height:100%;
    opacity: 0.85;
  }

  .wrapper h1 {
    font-family: 'Overlock', cursive;
    font-size: 4em;
    color:white;
    position: absolute;
    z-index: 2;
    left: 40%;
    top:10%;
    text-transform: uppercase;
    text-shadow:4px 4px 0 rgba(0,0,0,0.4);
  }

  .wrapper p {
    font-family: 'Overlock', cursive;
    z-index: 2;
    top: 30%;
    left: 40%;
    font-weight: 700;
    padding-right: 30px;
    position: absolute;
    color:#000;
  }

  video::-webkit-media-controls {
    display:none !important;
  }

/* Section - About-Us */

section#about-us {
    margin: 80px 150px 80px 150px;
    padding: 80px;
    box-shadow: 0 0 20px #999;
    background-color: #FFF;
}

section#about-us h1 {
    font-family: 'Overlock', cursive;
    margin-bottom: 30px;
    color: #0F75BC;
    font-weight: 700;
    text-align: center;
}

section#about-us p {
    text-align: justify;
    margin-bottom: 20px;
}

section#about-us h2 {
    font-family: 'Overlock', cursive;
    margin-bottom: 30px;
}

section.about-links {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
}

section.about-links aside {
    width: 33.33%;
    float: left;
}

section.about-links aside#border-lr {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section.about-links aside .button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 1.6em;
    font-family: 'Overlock', cursive;
}

section.about-links aside .button:visited {
    color: #0F75BC;
}

section.about-links aside .button:hover {
    color: #0F75BC;
}

section.about-links aside .button:active {
    color: #0F75BC;
}


section#about-us aside {
    width: 50%;
    float: left;
}

section#about-us aside a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section#about-us aside a:hover {
    background-color: #FFF;
    color: #0F75BC;
    border: 1px solid #0F75BC;
}

/* Section - About-Middle */

section.about-middle {
    margin: 0;
    padding: 0;
    height: 100%;
}

section.about-middle h1 {
    color: #FFF;
    margin-top: 70px;
    font-family: 'Overlock', cursive;
}

section.about-middle h3 {
    font-weight: 700;
    color: #FFF;
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
}

section.about-middle aside {
    width: 50%;
    float: left;
}

section.about-middle aside#about-middle-left {
    padding: 80px;
    height: 100%;
}

section.about-middle aside#about-middle-left p {
    color: #000;
    padding-bottom: 10px;
    text-align: justify;
}

section.about-middle aside#about-middle-left h1 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.about-middle aside#about-middle-left h3 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.about-middle aside#about-middle-right {
    padding: 80px;
    height: 100%;
}

section.about-middle aside#about-middle-right p {
    text-align: justify;
    color: #0F75BC;
}

section.about-middle aside#about-middle-right h3 {
    color: #0F75BC;
}

/* Section - Solutions */

section.solutions {
    margin: 0;
    padding: 0;
    height: 100%;
}

section.solutions aside {
    width: 50%;
    float: left;
}

section.solutions aside#solutions-left {
    padding: 80px;
    height: 100%;
}

section.solutions aside#solutions-right {
    padding: 80px;
    height: 100%;
}

section.solutions aside#solutions-left img {
    position: relative;
    height:300px;
    width:500px;
}

section.solutions aside#solutions-left h1 {
    margin-top: 70px;
    font-weight: 700;
    color: #BF1E2E;
    font-family: 'Overlock', cursive;
}

section.solutions aside#solutions-left h3 {
    color: #000;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.solutions aside#solutions-left p {
    color: #000;
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
    text-align: justify;
}

section.solutions aside#solutions-right h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #0F75BC;
}

section.solutions aside#solutions-right p {
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
    text-align: justify;
    color: #0F75BC;
}

/* Section -  Solutions-0 */

section.solutions-0 {
    margin: 10px auto;
    padding: 30px;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 20px #999;
}

section.solutions-0 h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    padding-bottom: 20px;
    color: #0F75BC;
}

section.solutions-0 a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
}

section.solutions-0 a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - solutions-1 */

section.solutions-1 {
    margin: 0;
    padding: 30px;
    text-align: center;
}

section.solutions-1 aside {
    width: 30%;
    float: left;
    box-shadow: 10px 10px 5px grey;
    margin: 15px;
    padding: 20px;
}

section.solutions-1 aside h1 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.solutions-1 aside h3 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.solutions-1 aside p {
    font-family: 'Overlock', cursive;
}

/* Section - solutions-2 */

section.solutions-2 {
    margin: 0;
    padding: 30px;
    text-align: center;
}

section.solutions-2 aside {
    width: 30%;
    float: left;
    box-shadow: 10px 10px 5px grey;
    margin: 15px;
    padding: 20px;
}

section.solutions-2 aside h1 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.solutions-2 aside h3 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.solutions-2 aside p {
    font-family: 'Overlock', cursive;
}

/* Section - solutions-3 */

section.solutions-3 {
    margin: 0;
    padding: 30px;
    text-align: center;
}

section.solutions-3 aside {
    width: 30%;
    float: left;
    box-shadow: 10px 10px 5px grey;
    margin: 15px;
    padding: 20px;
}

section.solutions-3 aside h1 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.solutions-3 aside h3 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.solutions-3 aside p {
    font-family: 'Overlock', cursive;
}

/* Section - Ecosystem */

section.ecosystem {
    margin: 0;
    padding: 0;
}

section.ecosystem aside {
    width: 50%;
    float: left;
}

section.ecosystem aside img {
    position:relative;
    height:300px;
    width:500px;
}

section.ecosystem aside h1 {
    font-weight: 700;
    font-family: 'Overlock', cursive;
    color: #FFF;
}

section.ecosystem aside h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #FFF;
}

section.ecosystem aside#ecosystem-left {
    padding: 80px;
    height: 1150px;
}

section.ecosystem aside#ecosystem-right {
    padding: 80px;
    height: 1150px;
}

section.ecosystem aside#ecosystem-right h3 {
    font-weight: 700;
    font-family: 'Overlock', cursive;
    color: #0F75BC;
}

section.ecosystem aside#ecosystem-left h2 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.ecosystem aside#ecosystem-left h3 {
    color: #000;
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.ecosystem aside#ecosystem-left p {
    color: #000;
    padding-bottom: 10px;
    text-align: justify;
}

section.ecosystem aside#ecosystem-right h2 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
    font-weight: 700;
    margin-top: 90px;
}

section.ecosystem aside#ecosystem-left ul {
    list-style-type: none;
}

section.ecosystem aside#ecosystem-left ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    color: #FFF;
}

section.ecosystem aside#ecosystem-right p{
    font-family: 'Overlock', cursive;
    color: #0F75BC;
    padding-bottom: 10px;
    text-align: justify;
}

section.ecosystem aside#ecosystem-right ul {
    list-style-type: none;
}

section.ecosystem aside#ecosystem-right ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    color: #0F75BC;
}

/* Section - Programs */

section.programs {
    margin: 0;
    padding: 0;
    height: 100%;
}

section.programs aside {
    width: 50%;
    float: left;
}

section.programs aside img {
    position:relative;
    height:300px;
    width:500px;
}

section.programs aside#programs-left {
    padding: 0 80px 80px 80px;
    height: 1000px;
}

section.programs aside#programs-right {
    padding: 0 80px 80px 80px;
    height: 1000px;
}

section.programs aside#programs-left h1 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.programs aside#programs-left h2 {
    color: #000;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.programs aside#programs-left p {
    color: #000;
    padding-bottom: 10px;
    text-align: justify;
}

section.programs aside#programs-right h2 {
    font-family: 'Overlock', cursive;
    color: #0F75BC;
    font-weight: 700;
}

section.programs aside#programs-left ul {
    list-style-type: none;
}

section.programs aside#programs-left ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    color: #000;
}

section.programs aside#programs-right p{
    font-family: 'Overlock', cursive;
    color: #0F75BC;
    padding-bottom: 10px;
    text-align: justify;
}

section.programs aside#programs-right ul {
    list-style-type: none;
}

section.programs aside#programs-right ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    color: #0F75BC;
}

section.programs aside#programs-right a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
}

section.programs aside#programs-right a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

section.btn {
    padding: 0;
    margin: 40px;
}

section.btn a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    display: inline-block !important;
    text-align: center;
    margin-left: 100%;
}

section.btn a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - Knowledge Base */

section.kbase {
    margin: 0;
    padding: 40px;
}

section.kbase a {
    text-decoration: none;
    color: #FFF;
    padding: 40px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    display: inline-block !important;
    text-align: center;
}

section.kbase a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

section.kbase p {
    padding: 20px;
}

/* Section - Collaboration */

section.collaboration {
    margin: 0 150px 0 150px;
    padding: 80px;
}

section.collaboration div#box {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #999;
}

section.collaboration p {
    font-family: 'Overlock', cursive;
    padding-bottom: 20px;
    text-align: justify;
}

section.collaboration h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

/* Section - Startup-Top */

section.startup-links-1 {
    padding: 20px;
    text-align: center;
}

section.startup-links-1 aside {
    width: 25%;
    float: left;
}

section.startup-links-1 aside#border-lr {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section.startup-links-1 aside .button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
}

section.startup-links-1 aside .button:hover {
    color: #0F75BC;
}

section.startup-links-2 {
    padding: 20px;
    text-align: center;
}

section.startup-links-2 aside {
    width: 25%;
    float: left;
}

section.startup-links-2 aside#border-lr {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section.startup-links-2 aside .button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
}

section.startup-links-2 aside .button:hover {
    color: #0F75BC;
}

section.startup-links-2-p {
    padding: 20px;
    text-align: center;
}

section.startup-links-2-p aside {
    width: 50%;
    float: left;
}

section.startup-links-2-p aside#border-lr {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section.startup-links-2-p aside .button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
}

section.startup-links-2-p aside .button:hover {
    color: #0F75BC;
}

section.startup-top {
    margin-bottom: 60px;
    padding: 0;
}

section.startup-top aside#startup-top-left {
    padding: 60px;
    height: 100%;
    background-color: #FFF;
    margin: 60px 30px 0 60px;
    box-shadow: 0 0 20px #999;
    width: 35%;
    float: left;
}

section.startup-top aside#startup-top-right {
    padding: 60px;
    height: 100%;
    background-color: #FFF;
    margin: 60px 60px 0 30px;
    box-shadow: 0 0 20px #999;
    width: 50%;
    float: left;
}

section.startup-top aside img {
    position:relative;
    height:300px;
    width:500px;
}

section.startup-top aside h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.startup-top aside p {
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
    text-align: justify;
}

/* Section - Partners*/

section.partner-links-1 {
    padding: 20px;
    text-align: center;
}

section.partner-links-1 aside {
    width: 50%;
    float: left;
}

section.partner-links-1 aside#border-lr {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section.partner-links-1 aside .button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
}

section.partner-links-1 aside .button:hover {
    color: #BF1E2E;
}

section.partner-links-2 {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #000;
}

section.partner-links-2 aside {
    width: 50%;
    float: left;
}

section.partner-links-2 aside#border-lr {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section.partner-links-2 aside .button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
}

section.partner-links-2 aside .button:hover {
    color: #BF1E2E;
}

section.partners-apply {
    margin: 0 100px 0 100px;
    padding: 80px;
}

section.partners-apply div#box{
    box-shadow: 0 0 20px #999;
    padding: 30px;
}

section.partners-apply h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

section.partners-apply p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.partners-apply a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    display: inline-block !important;
    text-align: center;
    margin-left: 25%;
}

section.partners-apply a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - Sponsors */

section.sponsors {
    margin: 0 100px 0 100px;
    padding: 80px;
    text-align: center;
}

section.sponsors div#box {
    box-shadow: 0 0 20px #999;
    padding: 30px;
}

section.sponsors h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

section.sponsors a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    display: inline-block !important;
    text-align: center;
    margin-top: 40px;
}

section.sponsors a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section a-f */

section.a-f {
    margin: 0 100px 0 100px;
    padding: 80px;
}

section.a-f div#box {
    box-shadow: 0 0 20px #999;
    padding: 30px;
}

section.a-f h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

section.a-f p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.a-f a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    display: inline-block !important;
    text-align: center;
    margin-left: 25%;
    margin-top: 40px;
}

section.a-f a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Sprint 90 Program Section */

section.sprint {
    margin: 0 150px 0 150px;
    padding: 0 80px 80px 80px;
    text-align: justify;
}

section.sprint h1 {
    font-family: 'Overlock', cursive;
    color: #BF1E2E;
    font-weight: 700;
}

section.sprint h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    padding-bottom: 20px;
}

section.sprint h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
}

section.sprint p {
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
}

section.sprint ul {
    list-style-type: none;
}

section.sprint ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    padding-bottom: 10px;
}

section.sprint a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    margin-left: 30%;
}

section.sprint a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

section.back-to-fs {
    margin: 0;
    padding: 30px;
    text-align: center;
}

section.back-to-fs a {
    color: #000;
    font-size: 1.4em;
    font-weight: 700;
}

section.back-to-fs a:hover {
    text-decoration: none;
}

/* Section MVC */

section.mvc {
    margin: 60px;
    padding: 0 180px 0 180px;
}

section.mvc h1 {
    font-family: 'Overlock', cursive;
    margin-top: 50px;
    font-weight: 700;
    color: #BF1E2E;
    margin-bottom: 20px;
}

section.mvc p {
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
    text-align: center;
}

section.mvc a {
    width: 50%;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    margin-left: 15%;
}

section.mvc a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - Stages of Startup */

section.sos-top {
    margin: 0 80px 0 80px;
    padding: 80px;
}

section.sos-top aside {
    width: 50%;
    float: left;
}

section.sos-top aside#sos-top-right img {
    position:relative;
    height:300px;
    width:500px;
}

section.sos-top aside#sos-top-left {
    padding: 40px;
}

section.sos-top aside#sos-top-right {
    padding: 40px;
}

section.sos-bottom-1 {
    margin: 0;
    padding: 0 80px 80px 80px;
}

section.sos-bottom-2 {
    margin: 0;
    padding: 0 80px 0 80px;
}

section.sos-bottom-1 aside {
    width: 50%;
    float: left;
}

section.sos-bottom-1 aside div#box {
    box-shadow: 0 0 20px #999;
    padding: 40px;
    margin: 0 30px 0 30px;
}

section.sos-bottom-1 aside div#box h1 {
    font-family: 'Overlock', cursive;
    text-align: center;
    font-weight: 700;
    color: #0F75BC;
}

section.sos-bottom-1 aside div#box h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #0F75BC;
    text-align: center;
}

section.sos-bottom-1 aside div#box p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.sos-bottom-1 aside div#box h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #0F75BC;
}

section.sos-bottom-1 aside div#box ul {
    list-style-type: none;
}

section.sos-bottom-1 aside div#box ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
}

section.sos-bottom-2 aside {
    width: 50%;
    float: left;
}

section.sos-bottom-2 aside div#box {
    box-shadow: 0 0 20px #999;
    padding: 40px;
    margin: 0 30px 60px 30px;
}

section.sos-bottom-2 aside div#box h1 {
    font-family: 'Overlock', cursive;
    text-align: center;
    font-weight: 700;
    color: #0F75BC;
}

section.sos-bottom-2 aside div#box h2 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #0F75BC;
    text-align: center;
}

section.sos-bottom-2 aside div#box p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.sos-bottom-2 aside div#box h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #0F75BC;
}

section.sos-bottom-2 aside div#box ul {
    list-style-type: none;
}

section.sos-bottom-2 aside div#box ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
}

/* Section - Fundraising */

section.fundraising {
    margin: 0 100px 0 100px;
    padding: 80px;
}

section.fundraising p {
    font-family: 'Overlock', cursive;
    padding-bottom: 10px;
    text-align: justify;
}

section.rules {
    margin: 0 100px 0 100px;
    padding: 30px 80px 30px 80px;
}

section.rules aside#rules-left {
    width: 30%;
    float: left;
}

section.rules aside#rules-right {
    width: 70%;
    float: left;
}

section.rules aside h1 {
    font-family: 'Overlock', cursive;
    color: #BF1E2E;
    font-weight: 700;
}

section.rules aside p {
    border-left: 2px double #0F75BC;
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 10px;
}

/* Section - Investor */

section.investor {
    margin: 0 100px 0 100px;
    padding: 30px 80px 30px 80px;
}

section.investor p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.investor ul {
    list-style-type: none;
}

section.investor ul li {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    text-align: justify;
}

/* Section - Title3 */

section.title3 {
    margin: 0 120px 0 120px;
    padding: 30px 80px 30px 80px;
}

section.title3 p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.title3 h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

/* Section - New */

section.new {
    margin: 0 120px 0 120px;
    padding: 30px 80px 30px 80px;
}

section.new h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

section.new p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.new ul {
    list-style-type: none;
}

section.new ul li p {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    text-align: justify;
}

/* Section - Crowdfunding */

section.crowdfunding {
    margin: 0 120px 0 120px;
    padding: 30px 80px 30px 80px;
}

section.crowdfunding h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

section.crowdfunding p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

section.crowdfunding ul {
    list-style-type: none;
}

section.crowdfunding ul li p {
    font-family: 'Overlock', cursive;
    font-size: 1.4em;
    text-align: justify;
}

section.crowdfunding a {
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px 10px 50px;
    background-color: #0F75BC;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'Overlock', cursive;
    margin-left: 40%;
}

section.crowdfunding a:hover {
    color: #0F75BC;
    background-color: #FFF;
    border: 1px solid #0F75BC;
}

/* Section - Founder-Doc */

section.founder-doc {
    margin: 0 120px 0 120px;
    padding: 30px 80px 30px 80px;
}

section.founder-doc h3 {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    color: #BF1E2E;
}

section.founder-doc p {
    font-family: 'Overlock', cursive;
    text-align: justify;
    padding-bottom: 10px;
}

/* Forms */

.title {
    text-transform: uppercase;
    font-family: 'Overlock', cursive;
    text-align: center;
    margin-bottom: 30px;
    color: #FFF;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 1px;
  }
  
  .description {
    text-align: center;
    color: #FFF;
    font-family: 'Overlock', cursive;
    font-size: 1.6em;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: 'Overlock', cursive;
    outline: none;
    font-size: 1.4em;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #094670;
  }
  
  input[type="checkbox"] {
    padding: 10px 20px;
    margin: 20px 120px 20px 120px !important;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
  }

  input[type="radio"] {
    padding: 10px 20px;
    margin: 20px 120px 20px 120px !important;
    font-size: 1.4em;
    font-family: 'Overlock', cursive;
  }
  
  label {
    margin: 0 auto;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Overlock', cursive;
  }
  
  .button,
  .rerun-button {
    padding: 10px 20px;
    border-radius: 3px;
    background: #0F75BC;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Overlock', cursive;
  }
  .button:hover,
  .rerun-button:hover {
    background: #094670;
  }
  .button.rerun-button,
  .rerun-button.rerun-button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .text-center {
    text-align: center;
    font-family: 'Overlock', cursive;
    font-size: 1.6em;
  }
  
  .modal-wrap {
    max-width: 800px;
    margin: 50px auto;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  
  .modal-header {
    height: 45px;
    background: white;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-header span {
    display: block;
    height: 12px;
    width: 12px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal-header span.is-active {
    background: rgba(0, 0, 0, 0.4);
    background: #0F75BC;
  }
  
  .modal-bodies {
    position: relative;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }

  .modal-body {
    background: -webkit-radial-gradient(#87badd, #0F75BC);
    background: radial-gradient(#87badd, #0F75BC);
    padding: 120px;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .modal-body.is-showing {
    display: block;
  }
  
  .animate-out {
    -webkit-animation: out 600ms ease-in-out forwards;
            animation: out 600ms ease-in-out forwards;
  }
  
  .animate-in {
    -webkit-animation: in 500ms ease-in-out forwards;
            animation: in 500ms ease-in-out forwards;
    display: block;
  }
  
  .animate-up {
    -webkit-transform: translateY(-500px) rotate(30deg);
            transform: translateY(-500px) rotate(30deg);
  }
  
  @-webkit-keyframes out {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
              transform: translateY(0px) rotate(0deg);
    }
    60% {
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg);
    }
    100% {
      -webkit-transform: translateY(800px) rotate(10deg);
              transform: translateY(800px) rotate(10deg);
    }
  }
  
  @keyframes out {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
              transform: translateY(0px) rotate(0deg);
    }
    60% {
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg);
    }
    100% {
      -webkit-transform: translateY(800px) rotate(10deg);
              transform: translateY(800px) rotate(10deg);
    }
  }
  @-webkit-keyframes in {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes in {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  

/*  Media Queries */

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.4em;
    }

    /* Header */
    header div.hero {
        left: 56%
    }
    header div.hero h1 {
        margin-bottom: 20px;
    }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding-left: 400px;
        background-size: 375px auto; 
    }

}

@media screen and (max-width: 825px) {
    h1 {
        font-size: 2.2em;
    }

    /* Header */
    header {
        height: 300px;
        background-image: url(../images/banner_825.jpg);
    }
    header div.hero {
        top: 120px;
        left: 48%;
    }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding-left: 325px;
        background-size: 300px auto;
    }

    /* Section - How To */
    section.how-to blockquote p.quote {
        font-size: 1.1em;
        line-height: 1.2em;
    }
    section.how-to blockquote p.credit {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.1em;
    }
    a.btn {
        font-size: 1em;
    }

    /* Header */
    header a.logo {
        width: 145px;
        height: 60px;
    }
    header div.hero {
        top: 140px;
        left: 48%;
    }

    /* Section - Main */
    section.main {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section.main aside div.content {
        background-size: 55px 55px;
        padding-top: 60px;
    }

     /* Section - How To */
     section.how-to aside div.content img {
         width: 85%;
     }

     /* Navigation */
     nav {
         padding-top: 80px;     
     }
     nav > ul {
         padding-left: 10px;
     }
}

@media screen and (max-width: 625px) {
    h1 {
        font-size: 1em;
    }
    h3 {
        margin-bottom: 0px;
    }
    a.btn {
        font-size: 0.9em;
    }
    
    /* Header */
    header {
        height: 160px;
        background-image: url(../images/banner_625.jpg);
        background-position: left top;
    }

    header a.logo {
        width: 100%;
        height: 66px;
        left: 0px;
        top: 0px;
        background-color: rgba(0,0,0,0.65);
        background-size: 112px 46px; 
        background-position: 20px center;
    }
    header div.hero {
        width: 300px;
        top: 85px;
        left: 130px;
    }
    header div.hero h1 {
        margin-bottom: 10px;
    }

    /* Section - Main */

    section.main aside {
        width: 100%;
        float: none;
        text-align: justify;
    }

    section.main aside div.content {
        margin: 8px 20px 8px 0;
        padding: 5px 0 10px 85px;
        background-size: 50px 50px;
        background-position: 20px 5px;
    }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding: 160px 20px 0 0;
        background-size: 300px auto;
        min-height: initial;
    }

    /* Section - How To */
    section.how-to aside {
        width: 100%;
        float: none;
        margin: 0;
        position: relative;
    }
    section.how-to aside div.content {
        padding: 20px 20px 20px 150px;
    }
    section.how-to aside div.content p {
        font-size: 0.9em;
    }
    section.how-to aside div.content img{
        display: inline-block;
        width: 125px;
        position: absolute;
        top: 30px;
        left: 0;
    }
    section.how-to blockquote {
        margin: 0 20px 0 40px;
        width: 90%;
        padding: 1px 0 20px 0;
        position: relative;
    }
    section.how-to blockquote p.credit {
        margin-bottom: 0;
    }

    /* Navigation */
    nav {
        position: static;
        width: auto;
        padding: 20px 15px;
        background-color: #4b0a0c;
    }
    nav ul,
    nav ul ul,
    nav ul ul ul {
        display: block;
        position: static;
    }
    nav > ul {
        padding: 0;
    }
    nav > ul > li {
        float: none;
        margin-top: 25px;
    }
    nav ul li:hover {
        background: none;
    }
    nav ul li a {
        width: auto;
        display: block;
        margin: 8px 10px;
        padding: 8px 15px;
        border: 1px solid rgba(255,255,255,0.25);
    }
    nav ul li a:hover {
        background-color: rgba(255,255,255,0.2);
    }

    nav ul ul {
        background: none;
    }
    nav ul ul li a {
        margin-left: 30px;
    }
    nav ul ul ul li a {
        margin-left: 60px;
    }
    nav a[aria-haspopup="true"]::after {
        display: none;
    }

    /* Footer */

    footer div.content {
        display: block;
        margin-top: 15px;
    }

    footer div.content a {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 425px) {
    /* Header */
    header {
        height: 110px;
        background-image: url(../images/banner_425.jpg);
    }

}